<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/femal.jpg" alt="sakshi" title="sakshi kadave" class="img-fluid">
                        </figure>
                       </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to sakshi Kadave world</p>
                        <h1>I Am A <span class="text_clr">Back End Developer</span></h1>
                        <a href="https://public.tableau.com/app/profile/sakshi.kadave/viz/sakshidashboard/Dashboard5?publish=yes" target="sakshi"><button>About Me</button></a>
                    </div>
                    
                    <!--right side div-->
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    {{>footer}}
</body>

</html>